<div class="container vegetables-choices">

  <h1>Quels légumes souhaitez-vous planter ?</h1>
  <div class="form-post">
    <%= simple_form_for @potager do |f| %>
      <div class="row">

        <% @vegetables.each do |veg| %>
          <div class="col-xs-4 col-sm-2 nopad text-center couple-nom-photo">

            <label class="image-checkbox">
              <div>
                <%= cl_image_tag(veg.photo, height: 100) %>
                <input type="checkbox" name="potager[choices_attributes][][vegetable_id]" value=<%= veg.id %> />
              </div>
              <div class="veg-name">
              <%= veg.name.capitalize %>
              </div>
            </label>



          </div>
        <% end %>

      </div>
      <div class='submit-veg'>
        <%= f.button :submit, 'Finaliser', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= render 'shared/progressbar' %>
  </div>
</div>






