<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
          <div class="introduction" id="introduction">
            <h1>Fabrication du potager</h1>
            <p>Sur cette page nous vous demander quelques renseignements permettant de mieux affiner l'organisation de votre potager que nous allons vous suggérer.</p>
            <p>Les prochaines étapes s'intéressent :</p>
            <ol>
              <li>aux dimensions de votre potager</li>
              <li>à son orientation</li>
              <li>à votre terre</li>
              <li>à la température la plus basse de cette dernière</li>
              <li>à la date à laquelle vous souhaitez démarrer !</li>
            </ol>
            <div>
              <a class="btn btn-primary" href=#dimensions>Continuer</a>
            </div>
          </div>

          <div class="dimensions" id="dimensions">
            <h2>Définir les dimensions de mon potager</h2>
              <div class="grid">
                <p class="longueur">Longueur</p>
                <div id="potager">
                  <div id="parent">
                    <div class="item-draggable">
                      <p class="default-sizes">3m x 3m</p>
                    </div>
                  </div>
                </div>
                <p class="largeur">Largeur</p>
              </div>
            <div>
              <p>Placer un formulaire ici avec deux champs qui récupèrent les valeurs de longueurs et largeur.</p>
              <div class="form">
                <p> </p>
                <%= form_tag("/search", method: "get") do %>
                  <%= label_tag(:q, "Largeur :") %>
                  <%= text_field_tag(:largeur, ) %>
                  <%= label_tag(:q, "Longueur :") %>
                  <%= text_field_tag(:longueur, ) %>
                <% end %>
              </div>
            </div>
            <div class="list-inline text-center">
              <li><a class="continue btn btn-primary" href=#introduction>Retour</a></li>
              <li><a class="continue btn btn-primary" href=#orientation>Continuer</a></li>
            </div>
          </div>

          <div class="orientation" id="orientation">
            <h2>Ajuster l'orientation du potager</h2>
            <div class="compass">
              <div class="potager-final"></div>
              <div class="drag-rotate"><p class="text-center">N<br><i class="fas fa-sync"></i><br>S</p></div>
            </div>
            <div class="formulaire">
              <p>Placer un formulaire ici avec un champ qui récupère la valeur d'angle.</p>
              <div class="form">
                <%= form_tag("/search", method: "get") do %>
                  <%= label_tag(:q, "Angle :") %>
                  <%= text_field_tag(:angle, ) %>
                <% end %>
              </div>
            </div>
            <div class="list-inline text-center">
              <li><a class="continue btn btn-primary" href=#dimensions>Retour</a></li>
              <li><a class="continue btn btn-primary" href=#terre>Continuer</a></li>
            </div>
          </div>

          <div class="terre"  id="terre">
            <h2>Définir mon type de terre</h2>
            <div><a class="btn btn-primary" href=#gel>Continuer</a></div>
            <div class="list-inline text-center">
              <li><a class="continue btn btn-primary" href=#orientation>Retour</a></li>
              <li><a class="continue btn btn-primary" href=#gel>Continuer</a></li>
            </div>
          </div>

          <div class="gel" id="gel">
            <h2>Est-ce que ma terre gèle ?</h2>
            <div><a class="btn btn-primary" href=#date-de-debut>Continuer</a></div>
            <div class="list-inline text-center">
              <li><a class="continue btn btn-primary" href=#terre>Retour</a></li>
              <li><a class="continue btn btn-primary" href=#date-de-debut>Continuer</a></li>
            </div>
          </div>

          <div class="date-de-debut" id="date-de-debut">
            <h2>Quand est-ce que je veux démarrer mon potager ?</h2>
            <div><a class="btn btn-primary" href="#" >Continuer</a></div>
            <div class="list-inline text-center">
              <li><a class="continue btn btn-primary" href=#gel>Retour</a></li>
              <li><a class="continue btn btn-primary" href=#>Continuer</a></li>
            </div>

          </div>

      </div>
    </div>
  </body>
</html>
