<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Slider - Slider bound to select</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
        var select = $( "#minbeds" );
        var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
          min: 1,
          max: 12,
          range: "min",
          value: select[ 0 ].selectedIndex + 1,
          slide: function( event, ui ) {
            select[ 0 ].selectedIndex = ui.value - 1;
          }
      });

      $( "#minbeds" ).on( "change", function() {
        slider.slider( "value", this.selectedIndex + 1 );
        });
      });
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">

<!---------- INTRODUCTION ------------>

        <div class="introduction">
            <h1>Fabrication du potager</h1>
            <p>Sur cette page nous vous demander quelques renseignements permettant de mieux affiner l'organisation de votre potager que nous allons vous suggérer.</p>
            <p>Les prochaines étapes s'intéressent :</p>
            <ol>
              <li>aux dimensions de votre potager</li>
              <li>à son orientation</li>
              <li>à votre terre</li>
              <li>à la température la plus basse de cette dernière</li>
              <li>à la date à laquelle vous souhaitez démarrer !</li>
            </ol>
            <div>
              <a class="btn btn-primary continue" href=#dimensions>Continuer</a>
            </div>
            <%= render 'shared/progressbar' %>
        </div>

<!---------- DIMENSIONS -------------->
        <div class="dimensions" id="dimensions">
          <h3>Je définis les dimensions de mon potager</h3>
          <div class="grid">
            <p class="longueur">Longueur</p>
            <div id="potager">
              <div id="parent">
                <div class="item-draggable">
                  <p class="default-sizes">3m x 3m</p>
                </div>
              </div>
            </div>
            <p class="largeur">Largeur</p>
          </div>

          <div class="form">
            <%= form_tag("/search", method: "get") do %>
              <%= hidden_field_tag(:largeur) %>
              <%= hidden_field_tag(:longueur) %>
            <% end %>
          </div>


          <div class="list-inline text-center">
            <li><a class="continue btn btn-primary" href=#introduction>Retour</a></li>
            <li><a class="continue btn btn-primary" href=#orientation>Continuer</a></li>
          </div>
          <%= render 'shared/progressbar' %>
        </div>

<!--------------- ORIENTATION  -------------->

        <div class="orientation" id="orientation">
          <h3>J'ajuste l'orientation de mon potager</h3>

          <div class="grid">
            <div class="compass">
              <div class="potager-final"></div>
              <div class="drag-rotate"><p class="text-center">N<br><i class="fas fa-map-marker-alt"></i><br>S</p></div>
            </div>
            <div class="icons">
              <div class="bottom-tag">Depuis ce point de vue </div>
              <div class="farmer">
              <%= cl_image_tag("terracognita/farmer",
              width: 80) %>
              </div>
              <div class="bottom-tag"> j'indique où est le sud !</div>
            </div>

          <div class="formulaire">
            <div class="form">
              <%= form_tag("/search", method: "get") do %>
                <%= hidden_field_tag(:angle) %>
              <% end %>
            </div>
          </div>

          <div class="list-inline text-center">
            <li><a class="continue btn btn-primary" href=#dimensions>Retour</a></li>
            <li><a class="continue btn btn-primary" href=#terre>Continuer</a></li>
          </div>
          <%= render 'shared/progressbar' %>
        </div>
      </div>

<!--------------- TERRE ----------------->

        <div class="terre"  id="terre">
          <h3>Je définis mon type de terre</h3>
            <%= simple_form_for @potager do |f| %>
              <div class="grid">
                <input id="id-argileux" type="radio" value='argileux' name="terre" />
                <label for="id-argileux" class="tile">
                  <%= cl_image_tag('terracognita/sol_argileux', height: 100) %>
                  <p>Argileux</p>
                </label>
                <input id="id-sableux" type="radio" value='sableux' name="terre" />
                <label for="id-sableux" class="tile">
                  <%= cl_image_tag('terracognita/sol_sableux', height: 100) %>
                  <p>Sableux</p>
                </label>
                <input id="id-limoneux" type="radio" value='limoneux' name="terre" />
                <label for="id-limoneux" class="tile">
                  <%= cl_image_tag('terracognita/sol_limoneux', height: 100) %>
                  <p>Limoneux</p>
                </label>
                <input id="id-humifere" type="radio" value='humifere' name="terre" />
                <label for="id-humifere" class="tile">
                  <%= cl_image_tag('terracognita/sol_humifere', height: 100) %>
                  <p>Humifere</p>
                </label>
                <input id="id-calcaire" type="radio" value='calcaire' name="terre" />
                <label for="id-calcaire" class="tile">
                  <%= cl_image_tag('terracognita/sol_calcaire', height: 100) %>
                  <p>Calcaire</p>
                </label>
              </div>
            <% end %>

          <div class="list-inline text-center">
            <li><a class="continue btn btn-primary" href=#orientation>Retour</a></li>
            <li><a class="continue btn btn-primary" href=#gel>Continuer</a></li>
          </div>

          <%= render 'shared/progressbar' %>

        </div>

<!---------------- Gel ------------------->

        <div class="gel" id="gel">
          <h3>Est-ce que ma terre gèle ?</h3>
          <div class="select-gel">
              <input class="gel-2" type="radio" name="gel" id="no">
              <label for="no"><i class="far fa-sun"></i>Non</label>
              <input class="gel-2" type="radio" name="gel" id="yes">
              <label for="yes">Oui<i class="far fa-snowflake"></i></label>
          </div>

          <div class="list-inline text-center">
            <li><a class="continue btn btn-primary" href=#terre>Retour</a></li>
            <li><a class="continue btn btn-primary" href=#date-de-debut>Continuer</a></li>
          </div>
          <%= render 'shared/progressbar' %>
        </div>

<!------------- Date de début ------------>

        <div class="date-de-debut" id="date-de-debut">
          <h2>Quand est-ce que je veux démarrer mon potager ?</h2>
          <div class="dateselection">
            <form id="date_de_debut">
              <label for="minbeds">Mois de lancement</label>
              <select name="minbeds" id="minbeds">
                <option>Janvier</option>
                <option>Février</option>
                <option>Mars</option>
                <option>Avril</option>
                <option>Mai</option>
                <option>Juin</option>
                <option>Juillet</option>
                <option>Août</option>
                <option>Septembre</option>
                <option>Octobre</option>
                <option>Novembre</option>
                <option>Décembre</option>
              </select>
            </form>
          </div>
          <div class="form">
            <%= form_tag("/search", method: "get") do %>
              <%= hidden_field_tag(:option) %>
            <% end %>
          </div>
          <div>
            <!--- ATTENTION FAUX LIEN ----->
            <a href="/potagers/2/choices/new", class="btn btn-primary continue">Continuer</a>
          </div>
          <%= render 'shared/progressbar' %>
        </div>

      </div>
    </div>
  </body>
</html>
