<div class="container final-connect">

  <div class="row">
    <div class="modelisation">
      <h1>Votre potager</h1>
      <%= @potager.orientation %>

      <% if @potager.orientation == "A" || "C" %>
        <% grid_template_columns = "1fr " * @potager.parcels.last.size %>
        <% grid_template_rows    = "1fr " * @potager.parcels.count %>
        <% width                 = "#{@potager.parcels.last.size * 100}" + "px" %>
        <% height                = "#{@potager.parcels.count * 100}" + "px" %>
        <% grid_row_gap          = "2px" %>
        <% grid_auto_flow        = "row" %>

      <% elsif @potager.orientation == "B" || "D" %>
        <% grid_template_columns = "1fr " * @potager.parcels.count %>
        <% grid_template_rows    = "1fr " * @potager.parcels.last.size %>
        <% width                 = "#{@potager.parcels.count * 100}" + "px" %>
        <% height                = "#{@potager.parcels.last.size * 100})" + "px" %>
        <% grid_column_gap       = "2px" %>
        <% grid_auto_flow        = "column" %>


      <% end %>

      <% if @potager.orientation == "B" %>
        <% direction = "rtl" %>
      <% elsif @potager.orientation == "D" %>
        <% direction = "ltr" %>
      <% end %>


      <div class="garden" style="grid-auto-flow: <%= grid_auto_flow %>; grid-template-columns: <%= grid_template_columns %>; grid-template-rows: <%= grid_template_rows %>; grid-row-gap: <%= grid_row_gap %>; grid-column-gap: <%= grid_column_gap %>; width: <%= width %>; height: <%= height %>; direction: <%= direction %>">
      <% @potager.parcels.each do |parcel| %>
        <% parcel.size.times do  %>
          <div class="veg">
            <%= cl_image_tag("#{parcel.vegetables_parcel.vegetable.photo}", height: 40) %>
            <p><strong><%= parcel.vegetables_parcel.vegetable.name.capitalize %></strong></p>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>

    <div class="pdf"><input type="button" value="Générer un PDF" onClick="window.print()" class="btn   btn-home btn-lg btn-final-transparent btn-pdf"></div>
  </div>

  <div class="compte">
    <h2>Grâce à mon compte :</h2>
      <ul class="list-unstyled compte-list">
        <li><i class="fas fa-leaf"></i> Je peux modifier mes parcelles</li>
        <li><i class="fas fa-leaf"></i> J'optimise mon rendement grâce à des informations clés</li>
        <li><i class="fas fa-leaf"></i> Je retrouve ma parcelle d'année en année et bénéficie de conseils pour les rotations de culture</li>
      </ul>
      <%= link_to "Créer un compte", new_user_registration_path, class:"btn btn-home btn-lg btn-final" %>
  </div>

</div>
