<div class="container final-connect">

  <div class="row">
    <div class="modelisation">
      <h1>Votre potager</h1>
      <%= @potager.orientation %>

      <br>
      <%= @potager.parcels.count %>
      <br>
      <%= @potager.parcels.last.size %>
      <br>

      <% if @potager.orientation.in?(["A", "C"]) %>
        <% height                 = "#{@potager.parcels.count * 100}" + "px" %>
        <% width                  = "#{@potager.parcels.last.size * 100}" + "px" %>
        <% grid_template_columns = "1fr " * @potager.parcels.last.size %>
        <% grid_template_rows    = "1fr " * @potager.parcels.count %>
        <% grid_row_gap          = "2px" %>
        <% grid_auto_flow        = "row" %>

      <% else %>
        <% width                 = "#{@potager.parcels.count * 100}" + "px" %>
        <% height                  = "#{@potager.parcels.last.size * 100}" + "px" %>
        <% grid_template_columns = "1fr " * @potager.parcels.count %>
        <% grid_template_rows    = "1fr " * @potager.parcels.last.size %>
        <% grid_column_gap       = "2px" %>
        <% grid_auto_flow        = "column" %>
      <% end %>

      <div class="garden" style="grid-auto-flow: <%= grid_auto_flow %>; grid-template-columns: <%= grid_template_columns %>; grid-template-rows: <%= grid_template_rows %>; grid-row-gap: <%= grid_row_gap %>; grid-column-gap: <%= grid_column_gap %>; width: <%= width %>; height: <%= height %>;">

        <% @potager.parcels.toto(@potager.orientation).each do |parcel| %>
          <% parcel.size.times do  %>
            <div class="veg">
              <%= cl_image_tag("#{parcel.vegetables_parcel.vegetable.photo}", height: 40) %>
              <p><strong><%= parcel.vegetables_parcel.vegetable.name.capitalize %></strong></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="pdf"><input type="button" value="Générer un PDF" onClick="window.print()" class="btn   btn-home btn-lg btn-final-transparent btn-pdf"></div>
  </div>


  <div class="aromatics-illu" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/earlyad/image/upload/v1544103034/terracognita/aromatics-illu.jpg');">
    <div>
      <h2>Plantes et aromates conseillés</h2>
      <p>Vos légumes ont des amis, faites-les se retrouver dans votre potager.</p>
    </div>
    <div class="aromatics-text">
    <div class="row">
      <% @potager.vegetables.each do |vegetable| %>
        <div class="col-xs-12 col-sm-3">
          <div class="card">
            <div class="card-leg">
              <div class="card-img">
            <%= cl_image_tag("#{vegetable.photo}", height: 50) %>
            </div>
            </div>
              <% vegetable.aromatics.each do |aromatics|  %>
                <div class="card-description">
                  <p><%= aromatics.capitalize %></p>
                </div>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
    </div>
    </div>
  </div>


  <div class="compte">
    <h2>Grâce à mon compte :</h2>
      <ul class="list-unstyled compte-list">
        <li><i class="fas fa-leaf"></i> Je peux modifier mes parcelles</li>
        <li><i class="fas fa-leaf"></i> J'optimise mon rendement grâce à des informations clés</li>
        <li><i class="fas fa-leaf"></i> Je retrouve ma parcelle d'année en année et bénéficie de conseils pour les rotations de culture</li>
      </ul>
      <%= link_to "Créer un compte", new_user_registration_path, class:"btn btn-home btn-lg btn-final" %>
  </div>

</div>
